:root {
  --primary-text-color: #434455;
  --primary-site-color: white;
  --button-active-color: #4d5ae5;
  --button-active-text: #f4f4fd;
  --button-secondary-color: #e7e9fc;
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  background-color: white;
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.logo:hover,
.logo:focus {
  color: #404bbf;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/*site nav*/
.site-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-color {
  color: #2e2f42;
}

.menu-color:hover,
.menu-color:focus,
.auth-nav:hover,
.auth-nav:focus {
  color: #404bbf;
  }

.auth-nav {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address {
  font-style: normal;
}


/*Hero title*/
.main-areal {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

/*button Order service*/
.button {
  color: white;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button:hover,
.button:focus {
  color: white;
  background-color: #404bbf;
}

/*Section*/
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

/*positive quality*/
.positive-quality  {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.pstiv-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*team*/
.team-color {
  background-color: #f4f4fd;
}

.card-worker {
  background-color: #ffffff;
}

.title-worker {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.job-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*footer*/
.footer-title {
  background-color: #2e2f42;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.logo-down {
  color: #f4f4fd;
}

/*page Portfolio*/

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: #404bbf;
  color: #ffffff;
}

.button:hover,
.button:focus {
  color: white;
  background-color: #404bbf;
}

.filter-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-style {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-item {
}
